node-red-flow.json
[
    {
        "id": "73e52fe9.48fee8",
        "type": "tab",
        "label": "Air Quality",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bf404480.3cc8f8",
        "type": "tab",
        "label": "Froling Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd12958d.beb52",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "69edb93c.c3c818",
        "type": "ui_tab",
        "name": "Air Quality",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ee33e7d6.fabc28",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#b51a00",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "546dd963.d4d04",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "69edb93c.c3c818",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1af54818.e8fcc8",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "69edb93c.c3c818",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "317d2d03.f8332a",
        "type": "ui_group",
        "name": "Testing",
        "tab": "69edb93c.c3c818",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "af43914f.5350b8",
        "type": "ui_group",
        "name": "CO2",
        "tab": "69edb93c.c3c818",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ae6b0be6.b83628",
        "type": "ui_group",
        "name": "tVOC",
        "tab": "69edb93c.c3c818",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4c81f926.cf4bf8",
        "type": "ui_group",
        "name": "Error status",
        "tab": "69edb93c.c3c818",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fbe55673.66dd98",
        "type": "ui_group",
        "name": "Temperaturen",
        "tab": "4382be31.14017",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "4382be31.14017",
        "type": "ui_tab",
        "name": "Froling Parameter",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9793c2cd.ca2b5",
        "type": "ui_group",
        "name": "Verbrauch",
        "tab": "4382be31.14017",
        "order": 7,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "b0f85a15.3dcea",
        "type": "ui_group",
        "name": "Pumpen",
        "tab": "4382be31.14017",
        "order": 3,
        "disp": false,
        "width": "11",
        "collapse": false
    },
    {
        "id": "a98bf70.d130808",
        "type": "ui_group",
        "name": "Status",
        "tab": "4382be31.14017",
        "order": 4,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "c6b4e39a.093478",
        "type": "mqtt in",
        "z": "73e52fe9.48fee8",
        "name": "",
        "topic": "/home/office/temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "cd12958d.beb52",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "1ad23787.e293f",
                "c46c63ea.9ffc"
            ]
        ]
    },
    {
        "id": "1ad23787.e293f",
        "type": "change",
        "z": "73e52fe9.48fee8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "d12dec83.4c915",
                "f475729f.3bdc18",
                "14900b6.b06caf5"
            ]
        ]
    },
    {
        "id": "720a350f.fa4834",
        "type": "debug",
        "z": "73e52fe9.48fee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 500,
        "wires": []
    },
    {
        "id": "d12dec83.4c915",
        "type": "ui_gauge",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "546dd963.d4d04",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00c7fc",
            "#96d35f",
            "#fff76b"
        ],
        "seg1": "18",
        "seg2": "22",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "852ca003.022db",
        "type": "ui_chart",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "546dd963.d4d04",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "18",
        "ymax": "25",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008cb4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#0042aa",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3f40333a.9625cc",
        "type": "change",
        "z": "73e52fe9.48fee8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 660,
        "wires": [
            [
                "f504dda9.8895f8",
                "fe3938df.df138",
                "b9f31ffa.c5f9a8"
            ]
        ]
    },
    {
        "id": "eff5fb9f.75a85",
        "type": "mqtt in",
        "z": "73e52fe9.48fee8",
        "name": "",
        "topic": "/home/office/humidity",
        "qos": "2",
        "datatype": "utf8",
        "broker": "cd12958d.beb52",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "3f40333a.9625cc"
            ]
        ]
    },
    {
        "id": "f504dda9.8895f8",
        "type": "ui_gauge",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "1af54818.e8fcc8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fffc41",
            "#96d35f",
            "#00c7fc"
        ],
        "seg1": "39",
        "seg2": "60",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "b96b6bae.73b5d",
        "type": "ui_chart",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "1af54818.e8fcc8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008cb4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "156df85e.84d74",
        "type": "ui_chart",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "546dd963.d4d04",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "week",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "18",
        "ymax": "25",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008cb4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#0042aa",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f475729f.3bdc18",
        "type": "smooth",
        "z": "73e52fe9.48fee8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "120",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 640,
        "y": 520,
        "wires": [
            [
                "156df85e.84d74"
            ]
        ]
    },
    {
        "id": "fe3938df.df138",
        "type": "smooth",
        "z": "73e52fe9.48fee8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "120",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 640,
        "y": 800,
        "wires": [
            [
                "5d36ea1a.612a8c"
            ]
        ]
    },
    {
        "id": "5d36ea1a.612a8c",
        "type": "ui_chart",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "1af54818.e8fcc8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "week",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008cb4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "fa0ae6fd.8ffb7",
        "type": "ui_switch",
        "z": "73e52fe9.48fee8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "317d2d03.f8332a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 90,
        "y": 1540,
        "wires": [
            [
                "86c6a477.4acff8"
            ]
        ]
    },
    {
        "id": "86c6a477.4acff8",
        "type": "mqtt out",
        "z": "73e52fe9.48fee8",
        "name": "",
        "topic": "/home/office/output",
        "qos": "",
        "retain": "",
        "broker": "cd12958d.beb52",
        "x": 300,
        "y": 1540,
        "wires": []
    },
    {
        "id": "14900b6.b06caf5",
        "type": "smooth",
        "z": "73e52fe9.48fee8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "852ca003.022db"
            ]
        ]
    },
    {
        "id": "b9f31ffa.c5f9a8",
        "type": "smooth",
        "z": "73e52fe9.48fee8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 640,
        "y": 740,
        "wires": [
            [
                "b96b6bae.73b5d"
            ]
        ]
    },
    {
        "id": "c46c63ea.9ffc",
        "type": "function",
        "z": "73e52fe9.48fee8",
        "name": "Timestamp",
        "func": "msg.payload = {time: new Date(), temperature: msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "720a350f.fa4834"
            ]
        ]
    },
    {
        "id": "26e85723.d22d9",
        "type": "mqtt in",
        "z": "73e52fe9.48fee8",
        "name": "",
        "topic": "/home/office/co2",
        "qos": "2",
        "datatype": "utf8",
        "broker": "cd12958d.beb52",
        "x": 100,
        "y": 940,
        "wires": [
            [
                "8c8df253.314678"
            ]
        ]
    },
    {
        "id": "8c8df253.314678",
        "type": "change",
        "z": "73e52fe9.48fee8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 940,
        "wires": [
            [
                "51737351.589f8c",
                "cd83c4c9.7bd32",
                "1fb1663a.6b8c6a"
            ]
        ]
    },
    {
        "id": "51737351.589f8c",
        "type": "ui_gauge",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "af43914f.5350b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2",
        "label": "ppm",
        "format": "{{value}}",
        "min": "400",
        "max": "2000",
        "colors": [
            "#96d35f",
            "#fffc41",
            "#ff4013"
        ],
        "seg1": "1000",
        "seg2": "1400",
        "x": 790,
        "y": 960,
        "wires": []
    },
    {
        "id": "cd83c4c9.7bd32",
        "type": "smooth",
        "z": "73e52fe9.48fee8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "120",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 640,
        "y": 1080,
        "wires": [
            [
                "ad53e837.454f6"
            ]
        ]
    },
    {
        "id": "1fb1663a.6b8c6a",
        "type": "smooth",
        "z": "73e52fe9.48fee8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 640,
        "y": 1020,
        "wires": [
            [
                "6d3586ab.01a2c"
            ]
        ]
    },
    {
        "id": "ad53e837.454f6",
        "type": "ui_chart",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "af43914f.5350b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "week",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "400",
        "ymax": "2000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008cb4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "6d3586ab.01a2c",
        "type": "ui_chart",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "af43914f.5350b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "400",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008cb4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "636dfa1d.00b8e4",
        "type": "mqtt in",
        "z": "73e52fe9.48fee8",
        "name": "",
        "topic": "/home/office/tvoc",
        "qos": "2",
        "datatype": "utf8",
        "broker": "cd12958d.beb52",
        "x": 110,
        "y": 1220,
        "wires": [
            [
                "1b351e8f.aa03a9"
            ]
        ]
    },
    {
        "id": "1b351e8f.aa03a9",
        "type": "change",
        "z": "73e52fe9.48fee8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1220,
        "wires": [
            [
                "6d123f24.b1e9f",
                "6a3e864e.cf729",
                "71f1a366.5889bc"
            ]
        ]
    },
    {
        "id": "6d123f24.b1e9f",
        "type": "ui_gauge",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "ae6b0be6.b83628",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "tVOC",
        "label": "ppb",
        "format": "{{value}}",
        "min": 0,
        "max": "1187",
        "colors": [
            "#96d35f",
            "#fffc41",
            "#ff4013"
        ],
        "seg1": "200",
        "seg2": "1000",
        "x": 790,
        "y": 1240,
        "wires": []
    },
    {
        "id": "6a3e864e.cf729",
        "type": "smooth",
        "z": "73e52fe9.48fee8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "120",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 640,
        "y": 1360,
        "wires": [
            [
                "bfada2ab.94a478"
            ]
        ]
    },
    {
        "id": "71f1a366.5889bc",
        "type": "smooth",
        "z": "73e52fe9.48fee8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 640,
        "y": 1300,
        "wires": [
            [
                "bd943ce2.db796"
            ]
        ]
    },
    {
        "id": "bfada2ab.94a478",
        "type": "ui_chart",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "ae6b0be6.b83628",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "week",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008cb4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "bd943ce2.db796",
        "type": "ui_chart",
        "z": "73e52fe9.48fee8",
        "name": "",
        "group": "ae6b0be6.b83628",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008cb4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "892dc851.d5eaf",
        "type": "mqtt in",
        "z": "73e52fe9.48fee8",
        "name": "",
        "topic": "/home/office/error",
        "qos": "2",
        "datatype": "utf8",
        "broker": "cd12958d.beb52",
        "x": 110,
        "y": 1440,
        "wires": [
            [
                "ba2bd350.a07fe8"
            ]
        ]
    },
    {
        "id": "361f5c2.7e97824",
        "type": "ui_text",
        "z": "73e52fe9.48fee8",
        "group": "4c81f926.cf4bf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 510,
        "y": 1440,
        "wires": []
    },
    {
        "id": "ba2bd350.a07fe8",
        "type": "function",
        "z": "73e52fe9.48fee8",
        "name": "Timestamp",
        "func": "msg.payload = {time: new Date(), error: msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "361f5c2.7e97824"
            ]
        ]
    },
    {
        "id": "93224ee6.01a31",
        "type": "file in",
        "z": "bf404480.3cc8f8",
        "name": "input file",
        "filename": "/mnt/volumes/usb/frolingdata/data.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "18e0237d.190ead"
            ]
        ]
    },
    {
        "id": "18e0237d.190ead",
        "type": "csv",
        "z": "bf404480.3cc8f8",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "73215be6.8d15e4"
            ]
        ]
    },
    {
        "id": "de8f8a17.0366e",
        "type": "debug",
        "z": "bf404480.3cc8f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "54a1aab.9bdf654",
        "type": "ui_chart",
        "z": "bf404480.3cc8f8",
        "name": "",
        "group": "fbe55673.66dd98",
        "order": 1,
        "width": "10",
        "height": "7",
        "label": "Temperaturen",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "216",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f94144",
            "#f3722c",
            "#f8961e",
            "#f9844a",
            "#f9c74f",
            "#90be6d",
            "#43aa8b",
            "#4d908e",
            "#577590"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 740,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "73215be6.8d15e4",
        "type": "function",
        "z": "bf404480.3cc8f8",
        "name": "build graph",
        "func": "var payload = msg.payload;\nvar debug = [];\n\n// consumptions\nvar c1 = [];\n\n// temperatures\nvar t1 = []; // boilerIst\nvar t2 = []; // hkvorlaufIst\nvar t3 = []; // aussentemp\nvar t4 = []; // warmwasserIst\nvar t5 = []; // pufferFuehlerOben\nvar t6 = []; // pufferFuehlerUnten\nvar t7 = []; // kollektorIst\n\n// pumps\nvar p1 = [];\nvar p2 = [];\nvar p3 = [];\n\n// powers\nvar P1 = []; // Leistung Solar\nvar P2 = []; // Verlauf der Verlustleistung\n\n// Momentanleistung der Solaranlage in kW\nvar leistungSolar = 0;\n// Momentanverlustleistung bzw. Heizlast des gesamten Hauses\nvar leistungVerlust = 0;\n\n// Energie, die nötig ist, 1 Liter Wasser um 1K zu erwärmen [Wh / l K]\nvar pEnergiedichte = 1.16;\n// Puffervolumen, das ist der Teil des Wassers im Heizkreis, aus dem die Wärme entnommen wird\nvar gesamtVolumen = 1000;\n  \nvar maxvalues = 504; // one week if one datapoint every 20min\nvar min = Math.max(0, payload.length - maxvalues);\n//debug.push({\"min\": min});\n\nfor (let i = min; i < payload.length; i++) {\n  var timestamp = Date.parse(payload[i][\"Datum/Uhrzeit\"]);\n  \n  // extract the consumption per day\n  // derivative of moving average\n  var t = 24;\n  var d = 7; // time window: seven day\n  var twindow = 60 * 60 * 1000 * t * d; // 1000ms = 1s\n  var prev = timestamp - twindow;\n  index = 0;\n  for (let j = i; j >= 0; j--) {\n    var prevtimestamp = Date.parse(payload[j][\"Datum/Uhrzeit\"]);\n    if (prevtimestamp < prev) {\n        index = j;\n        break;\n    }\n  }\n  \n  //debug.push({\"timestamp\":timestamp,\"prevtimestamp\":prevtimestamp, \"index\":i, \"previous index\":index});\n  \n  var prevconsumption = parseInt(payload[index][\"Pelletverbrauch [kg]\"]) + parseInt(payload[index][\"Pelletverbrauch [t]\"]) * 1000;\n  var nowconsumption = parseInt(payload[i][\"Pelletverbrauch [kg]\"]) + parseInt(payload[i][\"Pelletverbrauch [t]\"]) * 1000;\n  var consumptionPerTime = (nowconsumption - prevconsumption) / d;\n  \n  var kgpelletverbrauch = {\"x\":timestamp, \"y\":(consumptionPerTime)};\n  var boilerIst = {\"x\":timestamp, \"y\":parseInt(payload[i][\"Boiler Ist [°C]\"])};\n  var hkvorlaufIst = {\"x\":timestamp, \"y\":parseInt(payload[i][\"HK Vorlauf ist [°C]\"])};\n  var aussentemp = {\"x\":timestamp, \"y\":parseInt(payload[i][\"Aussentemperatur [°C]\"])};\n  var warmwasserIst = {\"x\":timestamp, \"y\":parseInt(payload[i][\"Warmwasser Ist [°C]\"])};\n  var pufferFuehlerOben = {\"x\":timestamp, \"y\":parseInt(payload[i][\"Puffer Fuehler oben [°C]\"])};\n  var pufferFuehlerUnten = {\"x\":timestamp, \"y\":parseInt(payload[i][\"Puffer Fuehler unten [°C]\"])};\n  var kollektorIst = {\"x\":timestamp, \"y\":parseInt(payload[i][\"Kollektor [°C]\"])};\n  var kollektorPumpe = {\"x\":timestamp, \"y\":parseInt(payload[i][\"Kollektor Pumpe [%]\"])};\n  var pufferPumpe = {\"x\":timestamp, \"y\":parseInt(payload[i][\"Puffer Pumpe [%]\"])};\n  var heizkreisPumpe = {\"x\":timestamp, \"y\":parseInt(payload[i][\"HK Pumpe [%]\"])};\n  \n  // Abschätzung der Leistung der Solaranlage\n  // Hinweis: die maximale Fördermenge wurde aus dem Datenblatt der Pumpe Grundfos UPM3 25-75 geschätzt.\n  // Bruttokollektorfläche ~9.78m^2, 2 * 30 Röhren (HP 30 Sunex)\n  // Außerdem wurde dieser Faktor aus dem Wärmeverlust des Hauses  abgeschätzt.\n  // Ohne übermäßigem Wasserverbrauch (kein Warmwasser, nur Heizung) braucht das Haus bei 0°C Aussentemperatur ungefähr 1.9kW an Leistung, um die Innentemperatur konstant zu halten.\n  // Die Leistung der Solaranlage muss nun 1.9kW betragen, wenn sich die Temperatur des Puffers nicht ändert.\n  // Also kann der Faktor so gewählt werden, dass die Momentanleistung der Solaranlage 1.9kW beträgt, wenn die Aussentemperatur 0°C beträgt und die Puffertemperatur konstant ist.\n  var literProStunde = 400 * parseInt(payload[i][\"Kollektor Pumpe [%]\"]) / 100; // Fördermenge der Pumpe, [l / h]\n  var deltaT1 = parseInt(payload[i][\"Kollektor [°C]\"]) - parseInt(payload[i][\"Puffer Fuehler unten [°C]\"]);\n  leistungSolar = parseInt(pEnergiedichte * literProStunde * deltaT1 * 10) / 10;\n  var powerSolar = {\"x\":timestamp, \"y\":leistungSolar};\n  \n  // Abschätzung der Verlustleistung bzw. Heizlast des Hauses\n  // Temperaturabfall pro Stunde (3 * 20min = 1h)\n  var deltaT2proh = 0;\n  if (i >= 4) {\n    deltaT2proh = parseInt(payload[i - 1][\"Puffer Fuehler oben [°C]\"]) - parseInt(payload[i - 4][\"Puffer Fuehler oben [°C]\"]);\n  }\n  // Da wir nur die Puffertemperatur zur Verfügung stehen haben und die Puffertemperatur aus der Summe aller Leistungen entsteht, \n  // die ins System eingebracht werden, muss die Verlustleistung um die eingebrachten Leistungen korrigiert werden.\n  // TODO: Heizleistung muss auch noch abgezogen werden.\n  leistungVerlust = parseInt((pEnergiedichte * gesamtVolumen * deltaT2proh - leistungSolar) * 10) / 10; // in kW\n  var powerLoss = {\"x\":timestamp, \"y\":leistungVerlust / 1000};\n  \n  c1.push(kgpelletverbrauch);\n  \n  t1.push(boilerIst);\n  t2.push(hkvorlaufIst);\n  t3.push(aussentemp);\n  t4.push(warmwasserIst);\n  t5.push(pufferFuehlerOben);\n  t6.push(pufferFuehlerUnten);\n  t7.push(kollektorIst);\n  \n  p1.push(kollektorPumpe);\n  p2.push(pufferPumpe);\n  p3.push(heizkreisPumpe);\n  \n  P1.push(powerSolar);\n  P2.push(powerLoss);\n}\n\nvar msg1 = {payload:\"\"};\nvar msg2 = {payload:\"\"};\nvar msg3 = {payload:\"\"};\n\nmsg1.payload = [{\"series\":\"Pelletverbrauch [kg]\", \n                \"data\":[c1], \n                \"labels\": \"Pelletverbrauch [kg]\"}];\n                \nmsg2.payload = [{\"series\":[\"Boiler Ist [°C]\", \"HK Vorlauf ist [°C]\", \"Aussentemperatur [°C]\", \"Warmwasser Ist [°C]\", \"Puffer Fuehler oben [°C]\", \"Puffer Fuehler unten [°C]\", \"Kollektor [°C]\", \"Leistungsbilanz [kW]\"], \n                \"data\":[t1, t2, t3, t4, t5, t6, t7, P2], \n                \"labels\": [\"Boiler Ist [°C]\", \"HK Vorlauf ist [°C]\", \"Aussentemperatur [°C]\", \"Warmwasser Ist [°C]\", \"Puffer Fuehler oben [°C]\", \"Puffer Fuehler unten [°C]\", \"Kollektor [°C]\", \"Leistungsbilanz [kW]\"]}];\n\nmsg3.payload = [{\"series\":[\"Kollektor Pumpe [%]\", \"Puffer Pumpe [%]\", \"HK Pumpe [%]\"], \n                \"data\":[p1, p2, p3], \n                \"labels\": [\"Kollektor Pumpe [%]\", \"Puffer Pumpe [%]\", \"HK Pumpe [%]\"]}];\n\n// Momentanwerte\npufferLadezustand = parseInt(payload[payload.length - 1][\"Puffer Ladezustand [%]\"]);\nsystemStatus = payload[payload.length - 1][\"Status\"]\npelletzaehler = nowconsumption;\n\n// Langzeitmittelwert Verbrauch\nvar start = Date.parse(\"2021-11-01\");\nvar now = Date.parse(payload[payload.length - 1][\"Datum/Uhrzeit\"]);\nvar days = parseInt((now - start) / 1000 / 24 / 60 / 60);\nvar longrun = parseInt(pelletzaehler / days * 10) / 10;\n\n// DEBUG\ndebug.push(days);\n\nvar msg4 = {payload:pufferLadezustand};\nvar msg5 = {payload:systemStatus};\nvar msg6 = {payload:pelletzaehler};\nvar msg7 = {payload:longrun};\nvar msg8 = {payload:leistungSolar};\nvar msg9 = {payload:leistungVerlust};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9];",
        "outputs": 9,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "de8f8a17.0366e",
                "48df41aa.a59b9"
            ],
            [
                "de8f8a17.0366e",
                "54a1aab.9bdf654"
            ],
            [
                "bf1586a9.f0ecd8",
                "de8f8a17.0366e"
            ],
            [
                "3074bec9.95edb2",
                "de8f8a17.0366e"
            ],
            [
                "a5b3584d.25ac68",
                "de8f8a17.0366e"
            ],
            [
                "de8f8a17.0366e",
                "f348c208.c17cb8"
            ],
            [
                "de8f8a17.0366e",
                "2422e87d.849cd"
            ],
            [
                "b13c39d9.8bc74"
            ],
            [
                "5f57f102.bd979"
            ]
        ]
    },
    {
        "id": "48df41aa.a59b9",
        "type": "ui_chart",
        "z": "bf404480.3cc8f8",
        "name": "",
        "group": "9793c2cd.ca2b5",
        "order": 1,
        "width": "10",
        "height": "7",
        "label": "Pelletverbrauch [kg/d]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "400",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#277da1",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 760,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1613205f.90318",
        "type": "watch",
        "z": "bf404480.3cc8f8",
        "name": "",
        "files": "/mnt/volumes/usb/frolingdata/data.csv",
        "recursive": "",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "93224ee6.01a31"
            ]
        ]
    },
    {
        "id": "12f7c33b.0dffbd",
        "type": "ui_template",
        "z": "bf404480.3cc8f8",
        "d": true,
        "group": "fbe55673.66dd98",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n[aria-label~=\"Froling Parameter\"] {\n    background-color: var(--main-color,green);\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "50dc17f1.fbae5",
        "type": "inject",
        "z": "bf404480.3cc8f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "93224ee6.01a31"
            ]
        ]
    },
    {
        "id": "bf1586a9.f0ecd8",
        "type": "ui_chart",
        "z": "bf404480.3cc8f8",
        "name": "",
        "group": "b0f85a15.3dcea",
        "order": 1,
        "width": "10",
        "height": "7",
        "label": "Pumpen",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#277da1",
            "#f94144",
            "#4d908e",
            "#43aa8b",
            "#90be6d",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 720,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3074bec9.95edb2",
        "type": "ui_gauge",
        "z": "bf404480.3cc8f8",
        "name": "",
        "group": "a98bf70.d130808",
        "order": 0,
        "width": "10",
        "height": "5",
        "gtype": "gage",
        "title": "Puffer Ladezustand",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#f94144",
            "#f9c74f",
            "#43aa8b"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "a5b3584d.25ac68",
        "type": "ui_text",
        "z": "bf404480.3cc8f8",
        "d": true,
        "group": "a98bf70.d130808",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Systemstatus",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "f348c208.c17cb8",
        "type": "ui_text",
        "z": "bf404480.3cc8f8",
        "group": "a98bf70.d130808",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Pelletzähler [kg]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "2422e87d.849cd",
        "type": "ui_text",
        "z": "bf404480.3cc8f8",
        "group": "a98bf70.d130808",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Langzeitverbrauch [kg / d]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "b13c39d9.8bc74",
        "type": "ui_text",
        "z": "bf404480.3cc8f8",
        "group": "a98bf70.d130808",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Leistung Solar [W]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "5f57f102.bd979",
        "type": "ui_text",
        "z": "bf404480.3cc8f8",
        "group": "a98bf70.d130808",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Verlustleistung [W]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 660,
        "wires": []
    }
]
